.buy_main_cta {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 90000000000000000000;
    img {
        width: 3rem;
        height: auto;
        padding: 2rem;
    }
}


.buy_main_cta:hover {
    img {
        transform: scale(1.1);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}


.main_buy{
    justify-content: space-around;
}


//** PAGE **
.buy_infos {
    p {
        margin: 0.5rem 0 0 1rem;
    }

    .h_cta {
        margin-top: 1rem;
    }
}

.title {
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
}

.covid {
    color: #FC7E85;
}

.covid_title {
    font-weight: bold;
}


.note {
    text-transform: uppercase;
    font-size: 1.2rem;
}


.buy_or {
    color: #ffb047;
    background: -webkit-linear-gradient(147deg, #ffb047 0%, #fb7293 100%);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: auto;
    font-family: $paris_font;
}


.pay {
    padding: 3rem 10rem;
    .cta {
        border: none;
        width: 16rem;
    }
}

.main_buy {
    flex-wrap: wrap;
}



.ticked_img {
    max-width: 15rem;
}


.buy_page{
    margin-left: 10%;
}


.pay_inf {
    text-align: center;

    p {
        margin: auto;
    }
}

.import_note {
    color: #fb7293;
}

.order_disp {
    font-size: 1.2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin: auto;

    span {
        font-weight: 500;
        color: #fb7293;
    }
}


.mail {
    .mail_lable {
        right: 4rem;
    }
}


.pay .name-box {
    margin-bottom: 0rem;
}


@media screen and (max-width: 1000px){
    .main_buy {
        flex-direction: row;
        margin: 15rem auto;
    }


    .pay {
        padding: 3rem 0rem;
        margin: auto;
    }
}


.buy_enter {
    text-align: center;
}

.tiket-buy_img {
    max-width: 300px;
    margin: auto;
    position: relative;
    top: -2rem;
}