.cont_infos {

    background-color: #fff;
    color: #000;
    border-radius: 5rem;
    box-shadow: 5px 5px 35px -13px #00000085;
    /* width: 60vw; */
    margin: 15rem 3rem 15rem 0rem;
    padding: 7rem 4rem;
    font-size: 1.3rem;
    line-height: 1rem;
}



