.flex.justify-between.flex-1 {
    display: none;
}


.text-sm.text-gray-700.leading-5 {
    display: none;
}


.pagin_inner{
    display: inline-block;
    align-items: center;
    height: 10rem;
}

.paginate{
    display: block;
    margin: 3rem auto 3rem;
    width: 100%;
    text-align: left;
    width: 20rem;
}


.page {
    padding: 1rem;
}